<div class="container">
<% if user_signed_in? %>
	<%= form_tag('/search_announcement', remote: true, id: 'search_announcement') do%>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="form-class">
						<%= label_tag(:annou_type, "比赛类型")%>
						<%= select("search_announcement","annou_type",options_for_select(["赛事公告","转会公告","票务公告"]))%>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-class">
						<%= label_tag(:start, "开始时间")%>
						<%= datetime_local_field(:search_announcement, :start)%>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-class">
						<%= label_tag(:end, "结束时间")%>
						<%= datetime_local_field(:search_announcement, :end)%>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-class">
						<%= submit_tag("查询")%>
					</div>
				</div>
			</div>
		</div>
	<%end%>			
<%end%>
	<%= will_paginate %>
	<table class="table table-condensed" id="announcement_list">
		<thead>
			<th>公告标题</th>
			<th>公告类型</th>
			<th>创建时间</th>
			<% if user_signed_in? %>
				<th>创建人</th>
				<th>操作</th>
			<%end%>
		</thead>
		<tbody>
			<% @announcements.each do |announcement|%>
			<tr>
				<td>
					<%= link_to announcement.annou_title, announcement %>
				</td>
				<td>
					<%= announcement.annou_type%>
				</td>
				<td>
					<%= time_ago_in_words(announcement.created_at)%>
				</td>
				<% if user_signed_in? %>
					<td>
						<%= announcement.user_id%>
					</td>
					<td>
						<%= link_to "编辑", edit_announcement_path(announcement)%>
						<%= link_to "删除", announcement, method: :delete, data: {confirm: 'Are you sure?'}%>
					</td>
				<%end%>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate %>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to '创建公告', new_announcement_path %>
<% end %>