
<p class="text-center">
  <strong><%= @announcement.annou_title %></strong>
</p>

<p >
  
  <%= sanitize @announcement.content %>
  
</p>

<% if user_signed_in? %>
    <%= link_to '编辑', edit_announcement_path(@announcement) %> | <%= link_to '返回公告列表', announcements_path %>
<% else %>
	<%= link_to '返回公告列表', announcements_path %>
<% end %>
