<div class="container">
	<table class="table table-condensed">
		<thead>
			<th>比赛标题</th>
			<th>比赛类型</th>
			<th>主队</th>
			<th>客队</th>
			<th>比赛时间</th>
			<th>创建人</th>
		</thead>
		<tbody>
			<% @matches.each do |match|%>
				<tr>
					<%= match.match_title%>
				</tr>
				<tr>
					<%= match.match_type%>
				</tr>
				<tr>
					<%= match.host_team%>
				</tr>
				<tr>
					<%= match.guest_team%>
				</tr>
				<tr>
					<%= match.kick_of_time%>
				</tr>
				<tr>
					<%= match.user_id%>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>